html, body, div, span, applet, object, iframe, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align:baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display:block
}

body {
    line-height:1
}

ol, ul {
    list-style:none
}

blockquote, q {
    quotes:none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content:none
}

table {
    border-collapse: collapse;
    border-spacing:0
}

html {
    height: 100%;
    min-height:100%
}

input, textarea {
    -webkit-appearance: none;
    -webkit-border-radius:0
}

.placeholder-text {
    color:#aaa
}

.section {
    clear: both;
    padding: 0;
    margin:0 0 10px 0
}

.col {
    display: block;
    float: left;
    margin:1% 0
}

.col:first-child {
    margin-left:0
}

.group:before, .group:after {
    content: "";
    display:table
}

.group:after {
    clear:both
}

.group {
    -ms-zoom: 1;
    zoom:1
}

.span_1_of_5 {
    width:20%
}

.span_2_of_5 {
    width:40%
}

.span_3_of_5 {
    width:60%
}

.span_4_of_5 {
    width:80%
}

.span_5_of_5 {
    width:100%
}

.span_8_of_10 {
    width:80%
}

.float-left {
    float:left
}

.float-right {
    float:right
}

.clear {
    clear:both
}

* ::after, * ::before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing:border-box
}

html {
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: "OpenSans", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
}

body {
    height: 100%;
    display: table;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-color: transparent;
    background-size:cover
}

.main form {
    margin-top: 10%;
    margin-bottom:3%
}

footer {
    background-color: rgba(77, 77, 77, .8);
    color: #d8d6d6 !important;
    line-height: 12px;
    font-size: .5em;
    text-transform:uppercase
}

.inside-footer {
    padding: 5px;
    box-sizing:border-box
}

.page-row {
    display: table-row;
    height:1px
}

.page-row-extended {
    height:100%
}

img {
    -ms-interpolation-mode:bicubic
}

.brand {
    margin: 30px auto 20px auto;
    width: 70%;
    display:block
}

.bankdirect {
    width:60%
}

.banknow {
    width: 100%;
    margin:0 auto 20px auto
}

.bold {
    font-weight:bold
}

.acapbank {
    width:60%
}

.center {
    text-align:center
}

.content-area {
    max-width: 600px;
    width: 60%;
    margin: 0 auto;
    background-color:rgba(248, 248, 248, .9)
}

.content {
    max-width: 600px;
    width: 60%;
    margin: 0 auto;
    background-color: rgba(248, 248, 248, .9);
    border-top: none;
    overflow: auto;
    border-radius:5px
}

.ad {
    max-width: 600px;
    width: 60%;
    margin: 0 auto;
    background-color: rgba(248, 248, 248, .9);
    background: none;
    margin-top: 3%;
    margin-bottom:10%
}

.ad img {
    display: block;
    margin: 0 auto 10px auto;
    max-width: 100%;
    border-radius:2px
}

.message {
    display: block;
    text-align: center;
    padding: 5px !important;
    color: #fff !important;
    font-weight: normal !important;
    margin-bottom: 0 !important;
    line-height:18px
}

.message-area {
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    max-width: 600px;
    width: 60%;
    margin: 0 auto;
    background-color:rgba(248, 248, 248, .9)
}

.message-area-visible {
    border-radius:0 0 5px 5px
}

.error-visible {
    background-color: rgba(236, 84, 84, .9) !important;
    border: 1px solid #e57777;
    border-bottom:none
}

.message-visible {
    background-color: rgba(53, 189, 93, .95) !important;
    border: 1px solid rgba(39, 157, 74, .9);
    border-bottom:none
}

.gray-text {
    color:#808080
}

.issuesanddisclosures {
    color: #8b8b8b;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .6em;
    text-decoration: none;
    text-align: center;
    margin-top: 2em;
    line-height:1.5em
}

.issuesanddisclosures a {
    color: #8b8b8b;
    text-decoration:none
}

.issuesanddisclosures a:visited {
    color:#8b8b8b
}

.copyright-text-style {
    color: #575757;
    font-size: .6em;
    text-transform:uppercase
}

.copyright {
    color: #8b8b8b;
    text-transform: uppercase;
    font-size: .6em;
    font-weight: bold;
    text-decoration: none;
    margin-top: 5px;
    display: block;
    height: 100%;
    text-align: center;
    clear:both
}

.copyright:visited {
    color:#8b8b8b
}

.copyright-text {
    float: left;
    margin: 0 10px;
    width:250px
}

.contact-text {
    text-align:right
}

.disclosure-text {
    float:right
}

.bank-info {
    padding-top:20px !important
}

.user-input {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #cecece;
    height: 40px;
    width: 100%;
    margin: 5px auto 10px auto;
    display: block;
    padding: 0 10px;
    font-size:1.1em
}

.label, .label-medium {
    color: #6f6f6f;
    font-size: 11px;
    text-transform: uppercase;
    float: left;
    margin:5px
}

.label-medium {
    font-size:16px
}

input[type=text], input[type=password] {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing:border-box
}

.rounded-button {
    float: right;
    color: #fff;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    font-size: 1em;
    padding: 10px;
    background-color: #2c80cc;
    cursor: pointer;
    border: 1px solid #1a68ae;
    margin: 10px 0 5px 0;
    min-width:7em
}

.rounded-button:active {
    background-color: #216098;
    border: 1px solid #135087;
    color:#c1c1c1
}

table.blueTable {
    border: 1px solid #1c6ea4;
    background-color: #eee;
    width: 100%;
    text-align: left;
    border-collapse:collapse
}

table.blueTable td, table.blueTable th {
    border: 1px solid #aaa;
    padding:3px 2px
}

table.blueTable tbody td {
    font-size:13px
}

table.blueTable tr:nth-child(even) {
    background:#d0e4f5
}

table.blueTable thead {
    background: #1c6ea4;
    background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1c6ea4 100%);
    background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1c6ea4 100%);
    background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1c6ea4 100%);
    border-bottom:2px solid #444
}

table.blueTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    border-left:2px solid #d0e4f5
}

table.blueTable thead th:first-child {
    border-left:none
}

table.blueTable tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background: #d0e4f5;
    background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #d0e4f5 100%);
    background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #d0e4f5 100%);
    background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #d0e4f5 100%);
    border-top:2px solid #444
}

table.blueTable tfoot td {
    font-size:14px
}

table.blueTable tfoot .links {
    text-align:right
}

table.blueTable tfoot .links a {
    display: inline-block;
    background: #1c6ea4;
    color: #fff;
    padding: 2px 8px;
    border-radius:5px
}

.token-grid {
    border-collapse: separate;
    border-spacing: 0;
    empty-cells: show;
    border-color: #dbdbdb;
    border-style: solid;
    border-width:1px
}

.token-grid tbody td:first-child {
    border-left-width:0
}

.token-grid td {
    border-color: #dbdbdb;
    border-style: solid;
    border-width: 0 0 0 1px;
    padding: .4em .6em;
    overflow: hidden;
    line-height: 1.6em;
    vertical-align: middle;
    text-overflow:ellipsis
}

.token-grid th {
    background-color: #fff;
    overflow: hidden;
    border-style: solid;
    border-width: 0 0 1px 1px;
    padding: .5em .6em .4em .6em;
    font-weight: 400;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    border-color:#dbdbdb
}

.token-grid tr {
    background-color:#fff
}

.token-grid tr:nth-child(odd) {
    background-color:#f5f5f5
}

.token-button {
    min-width: 70px;
    float:none
}

.token-label-first {
    margin: 0 0 15px 0;
    font-size:14px
}

.token-label-second {
    margin: 15px 0 15px 0;
    font-size:14px
}

span.error-message, .error-message {
    font-size: .9em;
    color: #ff3131;
    padding: 5px;
    font-weight: bold;
    margin-bottom: 10px;
    display:block
}

span.info-message {
    font-size: 1.1em;
    display: inline-block;
    line-height: 1.3em;
    margin-bottom:1em
}

a.info {
    color: #808080;
    font-size: .9em;
    text-decoration:none
}

a.info:hover {
    color: #444141;
    cursor: pointer;
    font-weight:bold
}

a.login-content {
    color: #4d4d4d;
    font-size: .75em;
    cursor: pointer;
    text-decoration: none;
    padding:12px 0 0 0
}

.contact-us {
    clear: left;
    font-size: .75em;
    color: #4d4d4d;
    margin: 3px 0 0 0;
    text-align:center
}

.two-buttons {
    float: left;
    width: 49%;
    display: inline-block;
    text-align:center
}

.security-validation-content {
    width: 80%;
    margin: 30px auto 15px;
    line-height:1.3em
}

.security-validation-header {
    font-size: 1.1em;
    font-weight: bold;
    padding-bottom:1.2em
}

.security-validation .hyperlink {
    color:#808080
}

.security-validation .info {
    font-size: 80%;
    color:#808080
}

.security-validation-logo {
    max-width: 100%;
    max-height:2.5em
}

.security-validation-error {
    color: #f00;
    font-size:1em
}

.security-validation p {
    padding-bottom:1em
}

.security-validation ol {
    list-style-type: decimal;
    padding-left:1.2em
}

.security-validation li {
    margin-top:7px
}

.security-validation .link {
    color:#14456b
}

.security-validation-link-large {
    color: #14456b;
    font-size:1.2em
}

.security-validation table {
    width: 100%;
    font-size: 12px;
    margin-top:2em
}

.security-validation-button-data {
    vertical-align: bottom;
    grid-row-span: 2;
    text-align:right
}

.security-validation-button-container {
    min-width:5em
}

.security-validation-primary-button {
    float: none;
    text-decoration: none;
    padding-left: 2.5em;
    padding-right: 2.5em;
    font-size: 1.2em;
    white-space:nowrap
}

.app-error {
    background-color: #eaf5ff;
    margin:0 auto
}

.app-error-content {
    font-size: 14px;
    line-height:18px
}

.app-error-left-pane {
    float: left;
    display: inline-block;
    width: 20%;
    margin-left: 20%;
    text-align:center
}

.app-error-left-pane img {
    padding:10px
}

.app-error-right-pane {
    float: left;
    display: inline-block;
    padding-top: 15px;
    width: 40%;
    vertical-align: middle;
    margin-right:20%
}

.app-error-right-pane h3 {
    text-transform:uppercase
}

.bc-html {
    background:#f9f9f9
}

.bc-body {
    margin-top: 5%;
    font-family: "OpenSans", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: transparent;
    background-size:cover
}

.bc-content {
    width: 768px;
    margin: 0 auto;
    border: 2px double #f2f2f2;
    background:#fff
}

.bc-info-text {
    font-size: 14px;
    color:#575757
}

.bc-info {
    padding: 10px;
    line-height: 18px;
    display:block
}

.bc-info h3 {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: -1px;
    font-weight:bold
}

.bc-info p {
    font-size: 14px;
    color: #575757;
    margin:10px 0
}

.bc-info ul {
    font-size: 14px;
    color: #575757;
    padding: 10px 0;
    display:table
}

.bc-info ul li {
    line-height: 32px;
    margin: 10px 0;
    vertical-align:bottom
}

.bc-info img {
    width: 32px;
    display: inline-block;
    margin: 0 10px 0 0;
    float:left
}

.bc-info a {
    line-height: 32px;
    vertical-align: middle;
    text-decoration: none;
    font-weight:bold
}

.span_1_of_3 {
    width: 32.7%;
    display: inline-block;
    text-align: center;
    float: left;
    line-height:70px
}

.span_1_of_3.first {
    text-align:left !important
}

.span_1_of_3.last {
    text-align:right !important
}

.bc-header {
    padding: 10px;
    display:block
}

.bc-header-img {
    width: 90%;
    vertical-align:middle
}

.bc-header-top {
    text-align:center
}

.bc-header-top-img {
    width:93%
}

#bankdirect {
    width: 70%;
    margin:0 auto
}

.externalLink {
    cursor:pointer
}

.blackout {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .75);
    z-index:100
}

.blackoutMessage {
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    z-index:101
}

.messageBox {
    margin: 0 auto;
    padding: 20px;
    max-width: 390px;
    width: 80%;
    display: block;
    background: #fff;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    line-height:18px
}

.messageBox h3 {
    text-transform: uppercase;
    letter-spacing: -1px;
    font-size:1em
}

.messageBox a {
    margin-top: 15px;
    display:block
}

#redirect, #cancelRedirect {
    text-transform:uppercase
}

#cancelRedirect {
    cursor: pointer;
    text-decoration:underline
}

.redirect-content {
    padding: 15px;
    line-height: 18px;
    font-size: 14px;
    text-align:justify
}

.redirect-content h2, .redirect-content h3 {
    text-align: center
}

a[href^="tel"]:link, a[href^="tel"]:visited, a[href^="tel"]:hover {
    text-decoration: none;
    color: #4d4d4d;
    cursor: default;
    font-weight: normal !important;
    pointer-events:none
}

.info-header {
    color: #fff;
    padding: 10px 40px 10px 10px;
    display: block;
    background: rgba(68, 65, 65, .77);
    line-height: 1.2;
    font-size:.8em
}

span#closeInfoMessage {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 1.7em;
    cursor: pointer;
    width: 30px;
    height: 30px;
    text-align:center
}

@media (min-width: 768px) and(max-width: 1024px) {
    .content, .message-area, .ad {
        width:75%
    }

    .app-error-left-pane {
        width: 25%;
        margin-left:15%
    }

    .app-error-right-pane {
        width: 45%;
        margin-right:15%
    }
}

@media (min-width: 481px) and(max-width: 768px) {
    .content, .message-area, .ad {
        width:90%
    }

    .app-error-left-pane {
        width: 30%;
        margin-left:10%
    }

    .app-error-right-pane {
        width: 50%;
        margin-right:10%
    }

    a.login-content {
        margin:0
    }

    .contact-us {
        clear: none;
        float:right
    }

    .user-input {
        height:50px
    }

    .rounded-button {
        padding:13px
    }
}


@media (max-width: 630px) {
    .span_1_of_5 {
        width:20%
    }

    .span_2_of_5 {
        width:40%
    }

    .span_3_of_5 {
        width:60%
    }

    .span_4_of_5 {
        width:80%
    }

    .span_5_of_5 {
        width:100%
    }

    .span_8_of_10 {
        width:90%
    }

    .two-buttons {
        width:100%
    }

    .app-error-content {
        margin:5%
    }

    .app-error-left-pane {
        width: 100%;
        display: block;
        float: none;
        margin:0
    }

    .app-error-right-pane {
        width: 100%;
        display: block;
        float: none;
        margin: 0;
        text-align:center
    }

    .user-input {
        height:50px
    }

    .rounded-button {
        padding:13px
    }
}

@media only screen and (min-width: 481px) and(max-width: 656px) {
    a.login-content {
        margin:12px 0
    }

    .contact-us {
        clear: left;
        float:none
    }
}

@media (min-width: 481px) and(max-width: 768px) and(orientation: landscape) {
    .main form {
        margin-top:2%
    }

    .blackoutMessage {
        top:50px !important
    }

    a.login-content {
        margin:12px 0
    }

    .contact-us {
        clear: left;
        float:none
    }

    .user-input {
        height:50px
    }

    .rounded-button {
        padding:13px
    }
}

@media (min-width: 568px) and(max-width: 568px) and(orientation: landscape) {
    .rounded-button {
        width: 100%;
        padding:13px
    }

    .span_1_of_5 {
        width:10%
    }

    .span_3_of_5 {
        width:80%
    }

    .blackoutMessage {
        top:50px !important
    }

    .content, .ad {
        width:90%
    }

    a.login-content {
        float: left;
        margin:0 0 10px 0
    }

    .contact-us {
        clear: none;
        float: right;
        text-align:center
    }

    .user-input {
        height:50px
    }
}

@media (min-width: 321px) and(max-width: 480px) {
    .main form {
        margin-top:25% !important
    }

    .brand {
        width:90%
    }

    .content, .message-area, .ad {
        width: 95%;
        text-align:center !important
    }

    .message {
        font-size:.75em !important
    }

    .rounded-button {
        width: 100%;
        padding:13px
    }

    .span_1_of_5 {
        width:5%
    }

    .span_3_of_5 {
        width:90%
    }

    a.login-content {
        float: left;
        margin:0 0 20px 0
    }

    .contact-us {
        clear: none;
        float: right;
        text-align:center
    }

    .contact-us-extended {
        margin: 10px 0;
        float: none;
        text-align:center
    }

    .user-input {
        height:50px
    }
}

@media (min-width: 321px) and(max-width: 480px) and(orientation: landscape) {
    .main form {
        margin-top:-1% !important
    }

    .blackoutMessage {
        top:50px !important
    }

    a.login-content {
        float: left;
        margin:0 0 20px 0
    }

    .contact-us {
        clear: none;
        float: right;
        text-align:center
    }

    .user-input {
        height:50px
    }

    .rounded-button {
        padding:13px
    }

    .message {
        font-size:.8em !important
    }
}

@media (min-width: 375px) and(max-width: 375px) and(orientation: portrait) {
    .message {
        font-size:.9em !important
    }
}

@media (max-width: 320px) {
    .main form {
        margin-top:15% !important
    }

    .brand {
        width:90%
    }

    .content, .ad {
        width: 95%;
        margin-right: 2.25%;
        text-align:center !important
    }

    .message-area {
        width:95%
    }

    .rounded-button {
        width: 100%;
        padding:13px
    }

    .span_1_of_5 {
        width:5%
    }

    .span_3_of_5 {
        width:90%
    }

    a.login-content {
        float: none;
        margin:5px auto 10px auto
    }

    .contact-us {
        margin: 10px 0;
        text-align:center
    }

    .contact-us-extended {
        margin: 10px 0;
        float: none;
        text-align:center
    }

    .user-input {
        height:50px
    }
}

@media (min-device-width: 768px) and(max-device-width: 1024px) and(orientation: portrait) {
    a.login-content {
        margin:12px 0
    }

    .contact-us {
        clear: left;
        float:none
    }

    .user-input {
        height:50px
    }

    .rounded-button {
        padding: 13px
    }
}

